{% extends "layout/index.njk" %}

{% block css %}
<link rel="stylesheet" href="/assets/styles/games.css" />
{% endblock %}

{% block content %}
<h1>hello games</h1>


<ul>
{% for game in games %}
   <li>
   <img src="{{game.cover.thumbnail}}" alt="{{game.name}} cover">
   <a href="/games/{{game.slug}}">
   <h3>{{game.name}}</h3></a>
   </li>
{% endfor %}
</ul>
{% endblock %}